.header-container {
  @apply flex items-center justify-between px-4 bg-dark text-white shadow-md opacity-[100%];
}

.logo {
  @apply flex items-center gap-2;
}

.logo-image {
  @apply w-fit h-[2.75rem];
}

.logo-text {
  @apply text-xl font-bold text-primary;
}

.nav-links {
  @apply hidden md:flex gap-6 transition-[700ms];
}

.nav-item {
  @apply text-white hover:text-primary border-t-4 border-transparent hover:border-t-4 hover:border-[#F69D10] hover:bg-[white] px-3 py-4 transition-colors duration-300;
}

.nav-item:hover {
  background: linear-gradient(to bottom,
      rgba(246, 157, 16, 0.3) 0%,
      rgba(246, 157, 16, 0) 100%);
}

.active {
  @apply text-primary border-[#F69D10];
  background: linear-gradient(to bottom,
      rgba(246, 157, 16, 0.3) 0%,
      rgba(246, 157, 16, 0) 100%);
}

.menu-toggle {
  @apply text-white text-2xl md:hidden;
}

.actions {
  @apply flex items-center gap-4;
}

.theme-toggle {
  @apply text-2xl cursor-pointer;
}

.close {
  @apply !flex transition-transform duration-300 ease-in-out;
}

/* Toggle jour/nuit */
.theme-toggle {
  @apply relative w-10 h-6 bg-[#7C270A] border-solid border-[1px] border-[#F69D10] rounded-full cursor-pointer flex items-center;
}

.toggle-slider {
  @apply absolute w-6 h-6 rounded-full flex items-center justify-center text-sm transition-all duration-300 ease-in-out;
  left: 0rem;
}

.toggle-slider.light {
  @apply bg-white text-gray-800;
}

.toggle-slider.dark {
  @apply bg-white text-white;
  left: 1rem;
}

/* Menu Hamburger */
.menu-toggle {
  @apply text-white text-2xl md:hidden transition-transform duration-300 ease-in-out;
}

.menu-toggle.open {
  @apply transform rotate-90;
}



@media (max-width: 768px) {
  
  .open {
    @apply flex flex-col absolute z-50 top-full left-0  w-full bg-dark transition-all duration-300 ease-in-out;
  }
  .close {
    @apply !hidden transition-transform duration-300 ease-in-out;
  }

  .header-container {
    @apply px-4 py-2;
  }

  .nav-links {
    @apply flex flex-col gap-2 p-0 absolute top-14 border-t-4;
  }

  .nav-item {
    @apply border-l-4 border-t-0 border-transparent pl-4;
  }

  .nav-item:hover {
    @apply border-primary border-t-0 bg-dark;
    background: linear-gradient(to right,
        rgba(246, 157, 16, 0.3) 0%,
        rgba(246, 157, 16, 0) 100%);
  }
}