.content-group {
  display: flex;
  gap: 2rem;
}

.article-content {
  flex: 3;
}

.article-image-container {
  @apply mb-8;
}

.article-image {
  @apply border-2 border-secondary rounded-xl shadow-xl;
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.sticky-sidebar {
  flex: 1;
  position: sticky;
  top: 2rem;
  height: fit-content;
}

.back-button {
  position: fixed;
  top: 5rem;
  left: 1rem;
  padding: 0.45rem 0.70rem;
  background-color: #d68614; /* Couleur secondaire */
  color: white;
  border-radius: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.back-button:hover {
  background-color: #d5701c; /* Teinte plus foncée de la couleur secondaire */
  transform: scale(1.05);
}

@media (max-width: 1024px) {
  .content-group {
    flex-direction: column;
  }

  .sticky-sidebar {
    position: relative;
    top: 0;
  }
}
