.blog-filter {
  @apply rounded-xl py-24;
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  cursor: pointer;
}

.blog-filter__banner {
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  padding: 1rem 2rem;
  border-radius: 8px;
}

.blog-filter__message {
  font-size: 2rem;
  font-weight: bold;
}

.blog-filter__container {
    @apply border-2 border-secondary;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  z-index: 20;
}

.blog-filter__search-bar {
  display: flex;
  gap: 4rem;
  position: relative;
}

.blog-filter__input,
.blog-filter__select,
.dropdown {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.blog-filter__icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.dropdown-content {
  position: absolute;
  width: fit-content;
  top: 45px;
  background-color: white;
  border: 1px solid #ddd;
  padding: 0.5rem;
  border-radius: 4px;
  z-index: 30;
}

.dropdown-item {
    @apply text-slate-800;
    display: flex;
    width: 100%;
}

@media (prefers-color-scheme: dark) {
  
  .dropdown,
  .blog-filter__input,
  .blog-filter__select {
    @apply bg-gray-200 font-medium text-slate-800;
  }

  .blog-filter__input {
    @apply border border-gray-400 
  }

  .dropdown:focus,
  .blog-filter__input:focus,
  .blog-filter__select:focus {
    @apply outline-none;
  }
  
  .dropdown:hover,
  .dropdown-content {
    @apply bg-gray-100;
  }

  .blog-filter__icon {
    color: #000;
  }
}
