.project-card {
  @apply relative w-72 h-96 overflow-hidden cursor-pointer transition-transform duration-300;
  transform-style: preserve-3d;
  transform: rotatex(0deg) rotateY(0) rotateZ(0);
}

.project-card:hover {
  transform: perspective(1000px) rotateY(5deg) rotatex(5deg);
}

.card-image-container {
  @apply w-full h-3/5 overflow-hidden rounded-lg border-2 border-secondary;
}

.project-image {
  @apply w-full h-full object-cover transition-transform duration-300;
}

.project-card:hover .project-image {
  transform: scale(1.03);
}

.description-container {
  @apply absolute flex flex-col -z-10 ml-4 items-center bottom-20 left-auto pb-4  pt-10 right-auto w-[90%] px-4 rounded-b-lg text-white bg-opacity-100 bg-brown;
  transform: translateY(12px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover .description-container {
  transform: translateY(20px);
}

.project-title {
  @apply text-xl font-semibold mb-1;
}

.tech-icons {
  @apply flex gap-2 mt-2;
}

.tech-icon {
  @apply text-sm bg-secondary px-2 py-1 rounded-md;
}


@media (max-width: 768px) {
 
  .project-card {
    @apply w-full ;
  }

  .card-image-container {
    @apply h-[60%];
  }

  .card-image-container > img {
    @apply h-[100%];
  }

  /* .description-container {
    @apply p-3;
  } */

  .project-title {
    @apply text-lg;
  }

  .tech-icon {
    @apply text-xs;
  }
}
