.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    animation: fadeIn 0.3s ease;
  }
  
  .fade-in {
    animation: fadeIn 0.3s ease forwards;
  }
  
  .fade-out {
    animation: fadeOut 0.3s ease forwards;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
  .modal-content {
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 90%;
    position: relative;
    animation: zoomIn 0.3s ease;
  }
  
  @keyframes zoomIn {
    from { transform: scale(0.8); }
    to { transform: scale(1); }
  }
  
  .modal-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .modal-image {
    background-size: cover;
    background-position: center;
    height: 300px;
    border-radius: 0.75rem;
    margin: 1rem 0;
  }
  
  .modal-description {
    margin: 1rem 0;
  }
  
  .modal-link {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #1F366B;
    color: white;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: transform 0.2s ease;
  }
  
  .modal-link:hover {
    transform: scale(1.05);
  }
  
  .close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .close-button:hover {
    transform: scale(1.2);
  }
  