.project-list {
  @apply flex justify-center flex-wrap gap-8 py-4;
  justify-items: center;
}

@media (min-width: 1024px) {
  .project-list {
    @apply grid-cols-4;
  }
}

/* @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

/* .project-card {
  animation: fadeIn 0.5s ease;
} */
