.blog-card {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #fff;
  margin-bottom: 2.5rem;
  width: 25rem;
  color: #868686;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.blog-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.blog-card__image {
  @apply rounded-xl border-2 border-brown;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.blog-card__content {
  @apply p-8 text-slate-800 dark:text-black rounded-xl absolute -bottom-12 left-3 max-w-[95%] border-2 border-secondary;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 1rem;
}

.blog-card__title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.blog-card__excerpt {
  margin: 0.5rem 0;
}

.blog-card__meta {
  @apply flex gap-4 text-slate-800 dark:text-white;
  font-size: 0.875rem;
}

.truncate-multiline {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* nombre de lignes */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.truncate-single {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* nombre de lignes */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  .blog-card {
    @apply bg-dark;
    color: #fff;
  }
}

@media (max-width: 768px) {
  .blog-card__image {
    height: 150px;
  }

  .blog-card__title {
    font-size: 1.1rem;
  }
}
